style.css
h1{font-family: "", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
  padding-top: 5px;}

h2{font-family: "", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;}

p{font-family: "sans-serif;", serif;
  max-width: 1000px;
  padding: 1px;}

div.container{
margin: auto;
max-width: 70%;
background-color: ;
padding-top: 5px;
padding-bottom: 5px ;
}

div.text{
margin: auto;
max-width: 800px;
background-color: #whitesmoke;
padding: 40px;
padding-top: 1PX;
}


body{
  background-color: ;}

figcaption{
  font-family: "sans-serif;", serif;
}
img{ 
  margin-inline: auto;
  padding-bottom: 2px;
  max-width: 100%;}

figure{max-width: 600px; margin: auto;}

